html, body{
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 0px 0px;
}


.button {
    background-color: #bbd;
    padding: 0.3em 1em 0.3em 1em;
    color: black;
    text-decoration: none;
    justify-content: center;
    border: none;
}
.button:hover {
    background-color: #aad;
}
.button:active {
    background-color: #88d;
}
.button:focus {
    outline: none;
}

.info:before {
    color: #00f;
    content: "🛈";
    padding: 5px 2px 5px 5px;
}
.info {
    margin: 0em 5em 0em 5em;
    background-color: #ccf;
    padding: 8px 0px 8px 0px;
    display: inline-block;
}



/* Root views occupy the whole screen */
.mainView {
    height: 100%;
    background-color: #eee;
}


/* Login */
#loginView {
    display: block;
}

#loginForm {
    display: block;
    min-width: 16em;
    max-width: 20em;
    margin: 0px auto 0px auto;
    padding: 3em 0px 3em 0px;
}

#loginForm label {
    float: left;
    clear: left;
}
#loginForm input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin: 0px 0px 1em 1em;
}
#loginForm input[type="password"], #loginForm input[type="text"] {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
}
#loginForm input[type="submit"] {
    width: 100%;
    display: block;
    margin-top: 1em;
}

/* Connecting */
#progressView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



#connectedView {
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* Header */
header {
    background-color: #aaa;
    width: 100%;
    display: flex;
    flex-shrink: 0;
}
header h1:before {
    content: "●";
    color: #0b0;
    padding: 10px 10px 10px 20px;
}
header h1 {
    flex-grow: 1;
    font-size: 125%;
}
#logout {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

/* And everything below the header */
#messageControls {
    display: flex;
    flex-grow: 1;
    background-color: #fff;
}

/* Roster */
#roster {
    display: inline-block;
    background-color: #ddd;
    overflow-y: scroll;
}
.contact {
    display: block;
    line-height: 2.3;
    padding: 0px 20px 0px 5px;
}
.contact.active {
    background-color: #eee;
}
.contact:before {
    content: '👤';
    margin: 10px 1em 10px 10px;
    /*padding: 0px 1em 0px 0px;*/
}


/* Chat */
#chatControls {
    /* Take up more horizontal space than the roster */
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

#chatBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.chat {
    flex-grow: 1;
    padding: 1em;
    background-color: #eee;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    overflow-y: scroll;
}
#messageBox {
    display: flex;
    flex-shrink: 0;
}
#messageInput, #messageInput:focus{
    flex-grow: 5;
    outline: none;
    border: 0px;
    border-bottom: 1px solid #bbb;
    margin: 1em;
}

.message {
}

.author {
    padding-right: 2em;
}

.message .body {
}
